%p#notice= notice

%p
  %b Email
  = @user.email

%p
  %b Default Metadata:
  = @user.extra_info

%p
  %b Github
  - if @user.github_token
    Authenticated with Github!
  - else
    = github_url

= link_to 'Edit', edit_user_path(@user)
