%p
  %b Email
  = @user.email

%p
  %b Default Metadata:
  = @user.extra_info

%p
  %b Github
  %i.fa.fa-github
  - if @user.github_token
    = link_to "View Github Events", github_index_path(user_id: @user.id)
  - else
    = github_url

%p
  %b Dropbox
  %i.fa.fa-dropbox
  - if @user.dropbox_token
    = link_to "View Photos", photos_path(user_id: @user.id)
  - else
    = dropbox_url

%p
  %b Moves
  %i.fa.fa-location-arrow
  - if @user.moves_token
    = link_to "View Moves", "#"
  - else
    = moves_url

%p
  %b Days
  %i.fa.fa-calendar
  = link_to "View Days", days_path(user_id: @user.id)

%p
  %b Posts
  %i.fa.fa-book
  = link_to "View Posts", posts_path(user_id: @user.id)

%p
  %b Permitted Viewers
  %ul
    - @user.permitted_viewers.each do |viewer|
      %li= User.find(viewer).email

- if current_user.can_edit?(@user)
  = link_to 'Edit', edit_user_path(@user)
