%h1 Listing day_summaries

%table
  %tr
    %th Day
    %th Summary
    %th Blog post
    %th Metadata
    %th
    %th
    %th

  - @day_summaries.each do |day_summary|
    %tr
      %td= day_summary.day
      %td= day_summary.summary
      %td= day_summary.blog_post
      %td= day_summary.metadata
      %td= link_to 'Show', day_summary
      %td= link_to 'Edit', edit_day_summary_path(day_summary)
      %td= link_to 'Destroy', day_summary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Day summary', new_day_summary_path
