= form_for(@day, html: { 'ng-controller' => 'DayCtrl' }) do |f|

  .form-group
    = f.label :date
    .input-group
      = f.date_field :date

  .form-group
    = f.label :headline
    .input-group
      = f.text_field :headline, class: 'form-control'
      %span.input-group-addon#day_headline_length #{@day.headline.length}/100

  :javascript
    $('#day_headline').on('keydown', function() {
      $('#day_headline_length').text(this.value.length + "/100");
    });

  .form-group
    = f.label :summary
    = f.text_area :summary, style: 'display: none;'
    #epiceditor

  .row
    .col-lg-4
      .input-group
        .input-group-button
          = f.label :start_location
        = f.text_field :start_location, class: 'ui-widget form-control'
    .col-lg-4
      .input-group
        .input-group-button
          = f.label :end_location
        = f.text_field :end_location, class: 'ui-widget form-control'
    .col-lg-4
      .input-group
        = f.label :impact
        = f.number_field :impact, min: 0, max: 10, class: 'form-control'

  = render partial: 'shared/metadata'

  = f.submit 'Record Day', class: 'btn'

:javascript
  var editor = new EpicEditor({
    textarea: 'day_summary',
    basePath: '/epiceditor'
  }).load();

  $(function() {
    $('#day_start_location, #day_end_location').autocomplete({
      source: #{@day.user.locations.to_json}
    });
  });
