= form_for(@day, html: { 'ng-controller' => 'DayCtrl' }) do |f|

  .form-group
    = f.label :date
    .input-group
      = f.date_field :date

  .form-group
    = f.label :headline
    .input-group
      = f.text_field :headline, class: 'form-control'
      %span.input-group-addon#day_headline_length #{@day.headline.length}/100

  :javascript
    $('#day_headline').on('keydown', function() {
      $('#day_headline_length').text(this.value.length + "/100");
    });

  .form-group
    = f.label :summary
    = f.text_area :summary, style: 'display: none;'
    #epiceditor

  .form-group
    = f.label :impact
    = f.number_field :impact, min: 0, max: 10

  = render partial: 'shared/metadata'

  = f.submit 'Record Day', class: 'btn'

:javascript
  var editor = new EpicEditor({
    textarea: 'day_summary',
    basePath: '/epiceditor'
  }).load();
