= form_for(@day, html: { 'ng-controller' => 'DayCtrl' }) do |f|

  .form-group
    = f.label :date
    .input-group
      = f.text_field :date, 'bs-datepicker' => '', 'ng-model' => 'date', 'ng-init' => "date='#{@day.date}'",
        'data-date-format' => 'yyyy/mm/dd'

  .form-group
    = f.label :summary
    .input-group
      = f.text_area :summary, class: 'form-control', 'ng-model' => 'summary', 'ng-init' => "summary='#{j @day.summary}'"
      %span.input-group-addon {{summary.length}}/255

  .form-group
    = f.label :impact
    = f.number_field :impact, min: 0, max: 10


  .metadata-container{'ng-controller' => 'MetadataCtrl', 'ng-init' => "metadata=#{@attributes}"}
    %h2
      Metadata
      %button{type: 'button', class: 'btn', 'ng-click' => 'metadata.push({})'} Add metadata
    .form-group{'ng-controller' => 'MDCtrl', 'ng-repeat' => 'md in metadata'}
      %label{for: "{{input_id('key_name')}}"} Key
      %input{'ng-model' => "md.key_name", id: "{{input_id('key_name')}}", name: "{{input_name('key_name')}}"}
      %br
      %label{for: "{{input_id('type')}}"} Type
      = select_tag(:type, options_for_select([:integer, :string, :boolean]),
        name: "{{input_name('type')}}", 'ng-model' => 'md.type', id: "{{input_id('type')}}")
      %br
      %label{for: "{{input_id('value')}}"} Value
      %span{'ng-switch' => '', 'on' => 'md.type'}
        - {'text' => 'string', 'number' => 'integer', 'checkbox' => 'boolean'}.each do |type, switch|
          %input{name: "{{input_name('value')}}", id: "{{input_id('value')}}", 'ng-model' => 'md.value', type: type, 'ng-switch-when' => switch}



  = f.submit 'Record Day', class: 'btn'
