%h1 My Days. All of them.

%table.table.table-condensed
  %tr
    %th Date
    %th Headline
    %th Cities
    %th Impact
    - @user.extra_info.each do |key, _|
      %th= key

  - @days.each do |day|
    %tr{class: impact_class(day)}
      %td{nowrap: true}= link_to day.date, day
      %td= day.headline
      %td #{day.start_location} => #{day.end_location}
      %td= day.impact
      - @user.extra_info.each do |key, _|
        %td= day.extra_info[key]


%br

= link_to 'New Day', new_day_path
