%p
  %b Date:
  = @day.date

%p
  %b Headline:
  = @day.headline

%p
  %b Summary:
  = markdown @day.summary

%p
  %b Posts
  %ul
    - @day.posts.each do |post|
      %li= link_to post.title, post

%p
  %b Location
  #{@day.start_location} => #{@day.end_location}

%p
  %b Moves
  %br
  = link_to "Fetch Moves", fetch_moves_day_path(@day)
  %br
  Summary:
  %ul
    - @moves_summary.each do |summary|
      %li= activity_text(summary)
  Places:
  %ul
    - @day.moves_places.each do |place|
      %li
        %b= place
  Storyline:
  %ul= render partial: 'moves_segment', collection: @moves_segments

%p
  %b Impact:
  = @day.impact
%p
  %b Extra Info:
  = @day.extra_info

= link_to 'Edit', edit_day_path(@day)
\|
= link_to 'Back', days_path
