%p#notice= notice

%p
  %b Date:
  = @day.date

%p
  %b Headline:
  = @day.headline

%p
  %b Summary:
  = markdown @day.summary

%p
  %b Posts
  %ul
    - @day.posts.each do |post|
      %li= link_to post.title, post

%p
  %b Impact:
  = @day.impact
%p
  %b Extra Info:
  = @day.extra_info

= link_to 'Edit', edit_day_path(@day)
\|
= link_to 'Back', days_path
