%p#notice= notice

%p
  %b Date:
  = @day.date
%p
  %b Summary:
  = @day.summary

%p
  %b Post:
  - if @day.post
    = link_to @day.post.title, @day.post
  - else
    None

%p
  %b Impact:
  = @day.impact
%p
  %b Metadata:
  = @day.metadata

= link_to 'Edit', edit_day_path(@day)
\|
= link_to 'Back', days_path
