= form_for(@post) do |f|
  .form-group
    = f.label :title
    = f.text_field :title

  .form-group
    = f.label :body
    = f.text_area :body, style: 'display: none;'
    #epiceditor

  .form-group
    = f.label :impact
    = f.number_field :impact

  .form-group
    = f.label :tags
    = f.text_field :tags

  .form-group
    = f.label :date
    = f.date_field :date

  = f.submit "Save Post", class: 'btn'

:javascript
  var editor = new EpicEditor({
    textarea: 'post_body',
    basePath: '/epiceditor'
  }).load();
