.navbar{role: 'navigation'}
  .navbar-header
    = link_to "QuantifiedLife", root_path, class: 'navbar-brand'
  - if user_signed_in?
    %ul.nav.navbar-nav
      %li= link_to "My Day", new_day_path, class: 'navbar-link'
      %li= link_to "My Days", days_path, class: 'navbar-link'
    %p.navbar-text.pull-right
      Logged in as #{current_user.email}
      = link_to 'Logout', destroy_user_session_path, method: :delete
